<div class="text-layout">

    <h1>Pipes básicos</h1>
    <p>
        Pipes inlcuídos en Angular, usualmente en el Common Module.
    </p>
    <h1>Decimal | Currency | Percent | Pipes</h1>

</div>

<div class="grid">

    <div class="col-4 mt-2">

        <p-card header="Ventas netas"
                subheader="del corriente año">

            <i class="pi pi-dollar"> </i>

            {{ ventasNetas | number: '1.2-2' : 'es-AR'}}
        </p-card>
    </div>

    
    <div class="col-4 mt-2">

        <p-card header="Ventas brutas"
                subheader="del corriente año">

            {{ (ventasNetas + 2000000) | currency: 'USD' : 'symbol' : '1.4-4' : 'es-AR'}}
        </p-card>
    </div>

    <div class="col-4 mt-2">

        <p-card header="Ganacias porcentuales"
                subheader="del corriente año">

            {{ porcentaje | percent: '1.2-2'}}
        </p-card>
    </div>


</div>
