<div class="text-layout">

    <h1>Pipes básicos</h1>
    <p>
        Pipes inlcuídos en Angular, usualmente en el Common Module.
    </p>

</div>

<div class="grid">

    <div class="col-4 mt-2">

        <p-card header="Uppercase">

            {{nombreLower | uppercase}}
        </p-card>
    </div>

    <div class="col-4 mt-2">

        <p-card header="Lowercase">
            
            {{nombreUpper | lowercase}}
        </p-card>
    </div>

    <div class="col-4 mt-2">

        <p-card header="Titlecase">

            {{nombreCompleto | titlecase}}
        </p-card>
    </div>
    
</div>

<div class="text-layout">

    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas.
    </p>

</div>

<div class="grid">

    <div class="col-6 mt-2">

        <p-card>

            <ul>
                <li> fecha </li>
                <li> fecha | date </li>
                <li> fecha | date: 'short' </li>
                <li> fecha | date: 'EEEE dd / LLL / y' </li>
            
            </ul>

            <hr>

            <ul>
                <li> fecha | date: 'long' : 'GMT+9' </li>
                <li> Fecha | date: 'long' : '' : 'ja' </li>
            </ul>
        </p-card>
    </div>

    <div class="col-6 mt-2">

        <p-card>
            
            <ul>
                <li> {{fecha}} </li>
                <li> {{fecha | date}} </li>
                <li> {{fecha | date:'short'}} </li>
                <li> {{fecha | date: 'EEEE dd / LLL / y' }} </li>
            </ul>

            <hr>

            <ul>
                <li> {{fecha | date: 'long' : 'GMT+9'}} </li>
                <li> {{fecha | date: 'long' : '' : 'ja'}} </li>
            </ul>
        </p-card>
    </div>

</div>